<ion-header>
  <ion-navbar>
      <ion-buttons start left>
        <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title text-center>Nuevo Post</ion-title>
      <ion-buttons end>
        <button ion-button icon-only [disabled]="!habilitarEnviarPublicacion"  (click)="onSubmit()">
        <ion-icon name="checkmark" color="primary"></ion-icon>
        </button>
      </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar item-start>
        <img #imagen
        src="{{ urlImage }}"
        style="visibility:hidden;"
        onload="this.style.visibility='visible'" onerror="this.src='http://www.gravatar.com/avatar?d=mm&s=140'"/>          
    </ion-avatar> 
        <ion-textarea [(ngModel)]="text" (ngModelChange)='cambioText()' placeholder="¿Qué estas pensando?"></ion-textarea>
  </ion-item>
  <ion-card>
      <!--img src="assets/img/appicon.svg" alt="Ionic logo"-->
      <img *ngIf="urlImagePublication" src="{{urlImagePublication}}">
  </ion-card>

  <!--input type="file" accept="image/x-png,image/jpeg" (change)='fileChangeEvent($event)'-->

  <ion-item no-lines *ngIf="!isCordova">
    <label>{{label}}</label>
    <input type="file" accept="image/x-png,image/jpeg" capture="camera"  (change)="fileChangeEvent($event)" id="file-input" style="opacity: 0" #fileInp>

    <div (click)="onClick()" text-center>
      <ion-icon color="primary" style="font-size: 3.2em;" name="ios-camera-outline"></ion-icon>
    </div>

  </ion-item>
  
  <ion-fab *ngIf="isCordova" right bottom>
    <button ion-fab (click)="presentActionSheet()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>

</ion-content>
