
@media only screen and (min-width: 768px) {
    /* For desktop: */
  
    .publications {
      max-width: 50%;
      margin: 0 auto;
      padding-top: 30px;
    }
}
  
  
page-publications {
  .avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
}  
}
