<ion-header>
	<ion-navbar>
		<ion-title text-center>Mensajes</ion-title>
		<ion-buttons end>
			<button (click)="goToCreateMessage()" ion-button icon-only>
				<ion-icon name="send"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-segment [(ngModel)]="mensajesType">
    <ion-segment-button value="recibidos">
      Recibidos
    </ion-segment-button>
    <ion-segment-button value="enviados">
      Enviados
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="mensajesType">
      <ion-list *ngSwitchCase="'recibidos'">
          <ion-card *ngFor="let message of messagesRecibidos" >
              <ion-item>
                  <ion-avatar item-start>
                      <img #imagen
                      src="{{ message.urlImage }}"
                      style="visibility:hidden;"
                      onload="this.style.visibility='visible'" onerror="this.src='http://www.gravatar.com/avatar?d=mm&s=140'"/>
                  </ion-avatar>
                  <h2>{{message.emmiter.name}}  {{message.emmiter.surname}}</h2>
                  <p>@{{message.emmiter.nick}}</p>
                </ion-item>
              
              
                <ion-card-content>
                  <p>{{message.text}}</p>
                </ion-card-content>
              
                <ion-row>
                  <ion-col center text-right>
                    <ion-note>
                        {{ (message.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo}}
                    </ion-note>
                  </ion-col>
                </ion-row>
              
              </ion-card>

              <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="pageRecibidos < pagesRecibidos">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
              </ion-infinite-scroll>
      </ion-list>
    
      <ion-list *ngSwitchCase="'enviados'">
          <ion-card *ngFor="let message of messagesEnviados" >
              <ion-item>
                  <ion-avatar item-start>
                      <img #imagen
                      src="{{ message.urlImage }}"
                      style="visibility:hidden;"
                      onload="this.style.visibility='visible'" onerror="this.src='http://www.gravatar.com/avatar?d=mm&s=140'"/>
                  </ion-avatar>
                  <h2>{{message.emmiter.name}}  {{message.emmiter.surname}}</h2>
                  <p>Enviado a @{{message.receiver.nick}}</p>
                </ion-item>
              
              
                <ion-card-content>
                  <p>{{message.text}}</p>
                </ion-card-content>
              
                <ion-row>
                  <ion-col center text-right>
                    <ion-note>
                      {{ (message.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo}}
                    </ion-note>
                  </ion-col>
                </ion-row>
              
              </ion-card>

              <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="pageEnviados < pagesEnviados">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
              </ion-infinite-scroll>
      </ion-list>
    </div>




</ion-content>
